body {
	margin:0px;
	font-family:sans-serif;
	font-size: 14px;
}

#nav-container {
	width:100%;
	position:fixed;
	background:rgba(255,255,255,.5);
	border-bottom:1px solid gray;
	padding:0 20%;
}

#menu {
	display: inline-block;
	position:absolute;
	}


#banner img {
	width:100%;
	padding-top:86px;
	border-bottom:3px ridge orange;
}

ul {
	display:inline;
	list-style: none;
}

ul li {
	display: inline-block;
}

ul li ul {
	position:absolute;
	left:0;
	visibility: hidden;
	opacity: 0;
	background: white;
}

ul li ul li {
	display: block;
}

ul li:hover ul {
	background:white;
	visibility: visible;
	opacity: 1;
}






#content-container h1 {
	font-size: 24px;
	font-weight: normal;
}

#content-container h2 {
	font-size:28px;
	text-align: center;
	font-weight: normal;
}

#content-container h3 {
	font-size: 20px
}


#content-container {
	margin: 0 20%;
	padding:10px;
}

#content-container img {
	width:100%;
}

#left {
	display: inline-block;
	float: left;
	width: 31%;
	margin:0 10px;
}

#mid {
	display: inline-block;
	float: left;
	width:31%;
	margin:0 10px;
}

#right {
	display: inline-block;
	float: right;
	width: 31%;
	margin:0 10px;
}